body{
    margin :0;
    background-color: rgb(173, 226, 226);
}
.footer
{
    padding:20px;
    background-color: rgb(212, 195, 195);
    color: aliceblue;
}
.main
{
    padding: 20px;
    background-color: rgb(82, 173, 140);
}